.git
.github
.yarn/cache
.yarn/install-state.gz
node_modules
**/node_modules
**/dist
**/coverage
packages/e2e/*
!packages/e2e/package.json
**/*.test.ts
**/*.test.tsx
**/*.stories.ts
**/*.stories.tsx
**/*.md
.storybook
.changeset
docs
